body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  text-align: left;

}

footer {
  text-align: right;
  color: midnightblue;
}

span {
  color: #191970;
}

.main > div {
  display: inline-block;
  width: 50%;
}

.main > div > h2 {
  margin-top: 30px;
}

.tile-image {
  float: left;
  height: 250px;
  margin-right: 50px;
  }

.left {
  float: left;
}

.right {
  float: right;
}

.card-text {
  margin-right: 100px;
}

@media (max-width: 1570px) {
  .main > div {
    display: block;
    width: 100%;
    margin-bottom: 100px;
  }

  .right > img {
    float: right;
    margin-left: 50px;
  }

}

@media (max-width: 950px) {
  
  
  .main > div > h2,p {
    display: inline-block;
    width: 100%;
    margin: auto;
  }

  .right > img {
    float: left;
    margin: auto;
    width: 100%;
  }

  .left > img {
    float: left;
    margin: auto;
    width: 100%;
  }
}
